body{
    background-color: #1C1F1B;
    color: #f9f9f9
    
    
    }

    img{
        width: 350px;
        height: 400px;
        float: right;
        display: display-inside;
    }

    .column {
        float: left;
        width: 33.33%;
        text-align: center;
        font-style: normal;
        font-family: Ariel, "Times New Roman", san-serif;
        color: #f9f9f9;
      }
      
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
        }
      }
      .footer {
        background-color: #F1F1F1;
        text-align: center;
        padding: 10px;
      }
    
    h1{
    text-align: center;
    font-size: 200%;
    line-height: 30%;
    font-style: normal;
    font-family: Ariel, "Times New Roman", san-serif;
    color: #f9f9f9;
    
    }
    h2{
        text-align: center;
        font-size: 200%;
        line-height: 30%;
        font-style: normal;
        font-family: Ariel, "Times New Roman", san-serif;
        color: #f9f9f9;

    }
    
    header {
    background-color: #C9C0A5;
    text-align: center;
    margin: 15px;
    border-radius: 20px;
    padding: 15px;
    }
    
    a:link{
    color: white;
    background-color: #AAABB8;
    border: 10px;
    padding: 10px;
    margin: 2px;
    border-radius: 20px;
    text-decoration: none;
    
    }
    a:visited{
    color:#7A9282;
    }
    
    a:hover{
    color:#2877B5;
    
    }
    
    a:focus{
        color:#1c1F1B;
    }



